@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Listado de tareas";
}

<div class="text-center mb-2">
    <h1 class="display-4">@localizer["Mis Tareas"]</h1>
</div>

<div id="container-alert">
</div>

<section id="section-form-add-task" class="p-2">
    <form id="form-add-task" asp-controller="Tasks" asp-action="Create" method="post">
        <input type="text" id="title" name="title" />
        <button id="add-task">@localizer["Agregar"]</button>
    </form>
</section>

<div class="py-3 text-center" id="container-spinner"></div>

<tr>
    <section id="containter-tasks">
        <table class="table table-hover">
            @*<thead>
            <tr>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Acciones</th>
            </tr>
            </thead>*@
            <tbody id="containter-my-tasks">
                <tr>
                    <td>Tarea 1</td>
                    <td>Descripción de tarea 1</td>
                    <td>
                        <a class="btn btn-sm btn-outline-info">Editar</a>
                        <a class="btn btn-sm btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>


    @section Scripts{

        <script asp-append-version="true" type="module" src="~/js/index.js"></script>
    }
